@import url(https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap);
@font-face {
    font-family: 'Gilroy';
    src: url(../homePage/fonts/Gilroy-Light.otf);
}

body {
    background-color: #302D47;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.loginComponents {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.loginHere{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginName {
    font-family: 'Lato';
    font-size: 109px;
    color: #FFFFFF;
    animation: udyrColor 30s linear infinite;
    user-select: none;
}

.loginName::first-letter{
    text-transform: uppercase;
}

.loginSubTitle {
    font-family: 'Gilroy';
    font-size: 26px;
    color: #BFBFBF;
    user-select: none;
}

.loginInput {
    background-color: #3F3D56;
    font-family: 'Gilroy';
    color: #D2D2D2;
    font-size: 20px;
    border: none;
    padding: 15px;
    border-radius: 7px;
    border: 0;
    height: 23px;
    max-height: 55px;
    min-height: 10px;
    width: 100%;
    margin: 89px 0px 25px 0px; 
}

.loginInput:focus {
    outline: none;
    border: #6059aa solid 4px;  
}

::placeholder {
    color: #8D8BA4;
    padding: 5px;
    cursor: text;
    font-size: 15px;
    background-color: #3F3D56;
}

.button {
    background-color: #6C63FF;
    padding: 17px 50px 15px 49px;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-size: 20px;
    border-radius: 7px;
    user-select: none;
    cursor: pointer;
    margin-left: 15px;
    height: 23px;
    max-height: 55px;
    min-height: 10px;
    border: transparent 2px solid;
    text-align: center;
}

.button:hover {
    border: solid 2px black;
}


@keyframes udyrColor {
    10% {
        color: #73FDFF;
    }

    15% {
        color: #04A4FA;
    }

    20% {
        color: #049FEF;
    }

    30% {
        color: #9EEF77;
    }

    35% {
        color: #13570C;
    }

    40% {
        color: #073302;
    }

    50% {
        color: #F4CA36;
    }

    55% {
        color: #E37502;
    }

    60% {
        color: #9E3A00;
    }

    70% {
        color: #AC0732;
    }

    75% {
        color: #E62A2B;
    }

    80% {
        color: #BB0E22;
    }
}
